.active-detail {
  height: 100%;
  padding-top: 1px;
  position: relative;
}
.detail-index {
  padding: 1px;
}
.common-wrapper {
  margin: 0 auto;
  width: calc(100% - calc(20px));
  border-radius: 10px;
  background: $skin-white;
  margin: 10px auto;
  color: $skin-color333;
  padding: 1px 0;
}
.active-title {
  display: flex;
  align-items: center;
  height: 45px;
  justify-content: center;
  font-size: 14px;
  &-icon {
    margin-right: 10px;
  }
}
.active-detail-icon {
  width: 70px;
  height: 70px;
  margin: 30px auto 10px;
  display: block;
}
.active-status {
  margin-bottom: 30px;
  font-size: 17px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  &.confirm {
    color: $skin-color3;
  }
  &.failed {
    color: #FF5252;
  }
  &.success {
    color: $skin-main2;
  }
}
.common-wrapper-item {
  min-height: 19px;
  line-height: 19px;
  margin: 15px 0;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .common-item-label {
    color: $skin-font7;
  }
  .common-item-value {
    display: flex;
    align-content: center;
    align-items: center;
    font-weight: bold;
  }
}
.common-copy-icon {
  width: 17px;
  height: 17px;
  transform: translateY(0.5px);
  margin-left: 5px;
}
.active-title {
  background: #ebebeb;
  border-radius: 10px 10px 0 0;
}
.customer-area {
  width: 351px;
  height: 45px;
  background: $skin-white;
  color: $skin-color333;
  border-radius: 10px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  .customer-area-icon {
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 5px;
  }
}

@media screen and (min-width: 780px) {
  .active-detail {
    background-color: $pc-bg0;
    // margin: 20px;
    border-radius: 10px;
  }
  .active-title {
    color: $skin-font1;
    .active-title-icon {
      width: 20px;
    }
  }
  .common-wrapper-item {
    font-weight: bold;
    border-bottom: 1px solid $skin-font1;
    margin: 0 20px;
    padding: 20px 0;
  }
  .active-status  {
    font-size: 16px;
    font-weight: bold;
  }
  .common-wrapper {
    width: calc(100% - 40px);
    background: $pc-bg1;
    color: $skin-bg1;
    font-size: 16px;
  }
  .customer-area {
    background-color: $pc-bg2;
    color: $skin-bg1;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
