body {
    //position: relative;
    height: 100%;
    min-width: 350px;
    padding: 0;
    margin: 0;
    color: #2b3a42;
    background: #FFF;
    font-size: 16px;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

}

html {
    height: 100%;
}

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */
{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

/* 将斜体扶正 */
code, kbd, pre, samp {
    font-family: courier new, courier, monospace;
}

/* 统一等宽字体 */
small {
    font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol {
    list-style: none;
}

/** 重置文本格式元素 **/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/** 重置表单元素 **/
legend {
    color: #000;
}

/* for ie6 */
fieldset, img {
    border: 0;
}

/* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
    font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.pf {
    position: fixed;
}

.tc {
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.flex {
    display: flex;
}

.clearfix {
    &:after {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        font-size: 0;
        clear: both;
    }
}

/* display */
.dn {
    display: none;
}

.di {
    display: inline;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

/* line-height */
.lh1{
    line-height: 1 !important;
}
@for $i from 1 through 14{
    $num:$i*2+12;
    .lh#{$num}{
        line-height: $num * 1px !important;
    }
}


/* margin */
.m0 {
    margin: 0 !important;
}
@mixin margin-create($count:4,$step:1) {
    @for $i from 1 through $count {
        $num: $step * $i;
        .mt#{$num} {
            margin-top: $num * 1px !important;
        }
        .mr#{$num} {
            margin-right: $num * 1px !important;
        }
        .mb#{$num} {
            margin-bottom: $num * 1px !important;
        }
        .ml#{$num} {
            margin-left: $num * 1px !important;
        }
        .m#{$num} {
            margin: $num * 1px !important;
        }
    }
}

/*创建 margin 1-4*/
@include margin-create();

/*margin 5的倍数 5-40*/
@include margin-create(8, 5);

.mc {
    margin-left: auto;
    margin-right: auto;
}

/* padding */
.p0 {
    padding: 0 !important;
}
.pt0{
    padding-top: 0 !important;
}
.pr0{
    padding-right: 0 !important;
}
.pb0{
    padding-bottom: 0 !important;
}
.pl0{
    padding-left: 0 !important;
}

@mixin padding-create($count:4,$step:1) {
    @for $i from 1 through $count {
        $num: $step * $i;
        .p#{$num} {
            padding: $num*1px !important;
        }
        .pt#{$num} {
            padding-top: $num*1px !important;
        }
        .pr#{$num} {
            padding-right: $num*1px !important;
        }
        .pb#{$num} {
            padding-bottom: $num*1px !important;
        }
        .pl#{$num} {
            padding-left: $num*1px !important;
        }
    }
}

/* padding 1-4 */
@include padding-create();

/* padding 5的倍数 5-40 */
@include padding-create(8, 5);

/* font-style */
.n {
    font-weight: normal;
    font-style: normal;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

/* text-align */
.tc {
    text-align: center !important;
}

.tr {
    text-align: right !important;
}

.tl {
    text-align: left !important;
}

/* white-space */
.nowrap {
    white-space: nowrap;
}

.ellipsis {
    text-overflow: ellipsis;
}

/* word-wrap */
.bk {
    word-wrap: break-word;
}

/* vertical-align */
.vm {
    vertical-align: middle;
}

.vtb {
    vertical-align: text-bottom;
}

.vb {
    vertical-align: bottom;
}

.vt {
    vertical-align: top;
}

/* overflow */
.ovh {
    overflow: hidden;
}

.ova {
    overflow: auto;
}

/* visibility */
.vh {
    visibility: hidden;
}

.vv {
    visibility: visible;
}

.tdn {
    text-decoration: none;
    outline: none;
}

.tdn:hover {
    text-decoration: none;
}

/* font-size*/
.f0 {
    font-size: 0 !important;
}

@for $i from 0 through 15{
    $num:12+$i*2;
    .f#{$num}{
        font-size: $num * 1px !important;
    }
}

.cur {
    cursor: pointer;
}

.tlt {
    text-decoration: line-through;
}

.tlt:hover {
    text-decoration: line-through;
    cursor: not-allowed;
}

.bn {
    border: none !important;
}

div {
    box-sizing: border-box;
}

.main-color {
  color: $skin-main1;
  border-color: $skin-main1
}
.main-bg {
  background-color: $skin-main1
}

.common-btn {
  @include common-btn();
}
.second-btn {
  @include common-btn(335px, 44px, 10px, $skin-bg4, $skin-color333);
  margin: 0 auto;
  border: none;
}
.fill-btn {
  @include common-btn-pvp(335px, 44px, 10px, $skin-main1, $skin-color333);
  margin: 0 auto;
}


.pvp {
  .main-color {
    color: $skin-pvp-main1;
    border-color: $skin-pvp-main1
  }
  .main-bg {
    background-color: $skin-pvp-main1
  }

  .common-btn {
    @include common-btn-pvp();
  }
  .second-btn {
    @include common-btn-pvp(335px, 44px, 10px, transparent, $skin-pvp-main1);
    margin: 0 auto;
    border: 1px solid $skin-pvp-main1;
  }
  .fill-btn {
    @include common-btn-pvp(335px, 44px, 10px, $skin-pvp-main1, $skin-pvp-main1);
    margin: 0 auto;
    color: $skin-font1!important;
  }

  .link-color {
    color: $skin-pvp-main1;
    text-decoration: underline;
  }
  .common-link-btn {
    @include common-btn-pvp(335px, 44px, 10px, #09C45C, $skin-font1, 14px);
  }
}
