/*
* 这里可以设置公共的变量和mixins方法
*/
//========================公共基础变量===========================
//引入公用图片的url
$images: '~@/scss/images';
$danger:#f90;

//========================其它公共方法===========================
@mixin h-lh($h,$ph:0px){
  height: $h;
  line-height: $h - $ph;
}