//这是移动版的业务逻辑，这里做移动版特殊化
@media screen and (max-width: 760px){
  html{
    font-size: 200PX;
  }
  body {
    background-color: $skin-bg4;
  }
  //移动版本默认边距
  .layout-wrap{
    padding: 10px 12px !important;
  }
  .view-bg-gray {
    background: $skin-bg4;
  }
  .panel-main {
    background: $skin-white;
  }
}
